 @charset "utf-8";
/* CSS Document - TrustGroupArchives */


    

	 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: "Noto Naskh Arabic", serif;
        }
        
        body {
             background-color: var(--background-color);
            line-height: 1.6;
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .supplier-container {
            border-radius: 12px;
            padding: 30px;
            margin: 20px 0;
            width: 100%;
			margin-top: 110px;
        }
         .supplier-container i {
            padding-left: 4px;
        }
        .supplier-header {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .supplier-logo {
            width: 110px;
            height: 110px;
            border-radius: 10px;
            object-fit: cover;
            border: 3px solid var(--primary-color);
        }
        
        .supplier-title {
            flex: 1;
        }
        
        .supplier-title h2 {
            color: var(--primary-color);
            font-size: 27px;
            margin-bottom: 10px;
            border-right: 4px solid var(--primary-color);
            padding-right: 15px;
			 font-weight: 500;
        }
        
        .supplier-title p {
            color: var(--text-color);
            font-size: 20px;
            line-height: 1.5;
			 font-weight: 300;
        }
        
        .supplier-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            margin-bottom: 30px;
        }
        
        .info-box {
            background: var(--container-bg-color) ;
            border-radius: 10px;
            padding: 20px;
            border: 1px solid var(--border-color) ;
        }
		 .info-box h3 {
            color: var(--primary-color);
            margin-bottom: 15px;
            font-size: 22px;
            display: flex;
            align-items: center;
            gap: 10px;
			 font-weight: 500;
        }
        
        .info-box h3 i {
            color: var(--primary-color);
        }
        
        .info-box p {
            margin-bottom: 10px;
            color: var(--text2-color) ;
            display: flex;
            align-items: center;
            gap: 8px;
			 font-weight: 400;
			  font-size: 17px;
        }
        
        .info-box p strong {
            min-width: 100px;
            color: var(--text-color);
			 font-weight: 500;
        }
        
        .info-box a {
            color: #3498db;
            text-decoration: none;
            transition: color 0.3s;
        }
        
        .info-box a:hover {
            color: #2980b9;
            text-decoration: underline;
        }
        .info-box2 {
            background: var(--container-bg-color) ;
            border-radius: 10px;
            padding: 20px;
            border: 1px solid var(--border-color) ;
        }
        .info-box2 h3 {
            color: var(--primary-color);
            margin-bottom: 15px;
            font-size: 22px;
            display: flex;
            align-items: center;
            gap: 10px;
			 font-weight: 500;
        }
        
        .info-box2 h3 i {
            color: var(--primary-color);
        }
        
        .info-box2 p {
            margin-bottom: 10px;
            color: var(--text2-color) ;
            display: flex;
            align-items: center;
            gap: 8px;
			 font-weight: 400;
			  font-size: 17px;
        }
        
        .info-box2 p strong {
            min-width: 100px;
            color: var(--text-color);
			 font-weight: 500;
        }
        
        .info-box2 a {
            color: #3498db;
            text-decoration: none;
            transition: color 0.3s;
        }
        
        .info-box2 a:hover {
            color: #2980b9;
            text-decoration: underline;
        }
        
        .quick-actions {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
            gap: 30px;
            margin-bottom: 30px;
        }
        .title2 {
            color: var(--primary-color);
            margin-bottom: 25px;
            font-size: 22px;
            display: flex;
            align-items: center;
            gap: 10px;
			width: 100%;
			margin-top: 60px;
			margin-right: 40px;
			font-weight: 550;
        }
        .action-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            background: var(--button-color);
            color: var(--light-color);
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
        }
        
        .action-btn:hover {
            background:var(--title-color);
            transform: translateY(-2px);
        }
        
        .action-btn.whatsapp {
            background: #245637;
        }
        
        .action-btn.whatsapp:hover {
            background: #407d56;
        }
        
        .action-btn.email {
            background: #562424;
        }
        
        .action-btn.email:hover {
            background: #365b75;
        }
        
        .action-btn.website {
            background: #562447;
        }
        
        .action-btn.website:hover {
            background: #5c4167;
        }
        
        .action-btn.facebook {
            background: #243756;
        }
        
        .action-btn.facebook:hover {
            background: #33466f;
        }
        
        .action-btn.phone {
            background: #245256;
        }
        
        .action-btn.phone:hover {
            background: #6a2c26;
        }
		  .action-btn.wechat {
            background: #564324;
        }
        
        .action-btn.wechat:hover {
            background: #705120;
        }
		  .action-btn.instagram {
            background: #562438;
        }
        
        .action-btn.instagram:hover {
            background: #6d2542;
        }
        .action-btn.location  {
            background: #565324;
        }
        
        .action-btn.location:hover {
            background: #948d1c;
        }
        .products-section {
            margin-bottom: 30px;
        }
        
        
        
        .products-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }
        
        .product-card {
            border : 1px solid var(--border-color) ; 
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s;
        }
        
        .product-card:hover {
            transform: translateY(-2px);
        }
 
        
        .product-info {
            padding: 13px;
        }
        
        .product-info h4 {
            color: var(--text-color);
            margin-bottom: 10px;
            font-size: 19px;
			 font-weight: 500;
        }
        
        .product-info p {
            color: var(--text2-color) ;
            font-size: 16px;
            line-height: 1.5;
			 font-weight: 300;
        }
        
        .download-section {
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        
        .download-btn {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 15px 30px;
            background:var(--button-color);
            color: var(--light-color) ;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
        }
        
        .download-btn:hover {
            background: var(--title-color);
            transform: translateY(-2px);
        }
        
		
		
		
		
		
		
		
		
		
		
        /* Responsive Design */
        @media (max-width: 768px) {
           
            .supplier-container {
            padding: 8px;
            margin: 0 auto;
            width: 100%;
			margin-top: 95px;
			
        }
                       
        .supplier-logo {
            width: 95px;
            height: 120px;
            border-radius: 10px;          
        }
		
		.supplier-title h2 {
            font-size: 21px;
            margin-bottom: 10px;        
            padding-right: 10px;
        }
        
        .supplier-title p {
            font-size: 16px;
			width: 95%;
        }
		 .supplier-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 15px;
        }
		 .info-box {           
            padding: 13px;
        }
		.info-box h3 {
            margin-bottom: 18px;
            font-size: 19px;         
            gap: 10px;
        }

        .info-box p {
            margin-bottom: 8px;
            font-size: 14px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box p strong {
            min-width: 50px;
        }
         .info-box2 {
            width: 100%;
			padding: 13px;
        }
        .info-box2 h3 {
            margin-bottom: 18px;
            font-size: 19px;         
            gap: 10px;
        }

        .info-box2 p {
            margin-bottom: 8px;
            font-size: 14px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box2 p strong {
            min-width: 50px;
        }
        
     
          .quick-actions {
                grid-template-columns: repeat(3, 1fr);
				  gap: 20px;
            }
       
        .title2 {
            font-size: 19px;          
			margin-top: 40px;
			margin-right: 30px;
        }
        .action-btn {
            gap: 8px;
            padding: 7px;
            background: var(--primary-color);
            font-size: 14px;
        }
        
      
        
        .products-section {
            margin-bottom: 30px;
        }
        
         .products-grid {
                grid-template-columns: repeat(2, 1fr);
				gap: 15px;
            }
        
        .product-card:hover {
            transform: translateY(-2px);
        }

        .product-info {
            padding: 13px;
        }
        
        .product-info h4 {
            color: var(--text-color);
            margin-bottom: 6px;
            font-size: 17px;
        }
        
        .product-info p {
            font-size: 15px;
            line-height: 1.5;
        }
        
        .download-section {
            padding: 10px;
            margin-top: 30px;
        }
        
        .download-btn {           
            gap: 10px;
            padding: 10px 15px;
            font-size: 15px         
        }

           
}
        
        @media (max-width: 480px) {
            .supplier-container {
            padding: 5px;
            margin: 0 auto;
            width: 100%;
			margin-top: 100px;
			
        }
                       
        .supplier-logo {
            width: 75px;
            height: 100px;
            border-radius: 10px;          
        }
		
		.supplier-title h2 {
            font-size: 19px;
            margin-bottom: 10px;        
            padding-right: 10px;
			border-right: 3px solid var(--primary-color);
        }
        
        .supplier-title p {
            font-size: 15px;
			width: 100%;
        }
		 .supplier-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 15px;
        }
		 .info-box {           
            padding: 10px;
			width: 100%;

        }
        
        .info-box h3 {
            margin-bottom: 18px;
            font-size: 17px;         
            gap: 10px;
        }

        .info-box p {
            margin-bottom: 8px;
            font-size: 12px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box p strong {
            min-width: 42px;
        }
        
         .info-box2 {           
            padding: 10px;
			width: 100%;

        }
        
        .info-box2 h3 {
            margin-bottom: 18px;
            font-size: 17px;         
            gap: 10px;
        }

        .info-box2 p {
            margin-bottom: 8px;
            font-size: 12px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box2 p strong {
            min-width: 42px;
        }
          .quick-actions {
                grid-template-columns: repeat(3, 1fr);
				  gap: 10px;
            }
       
        .title2 {
            font-size: 17px;          
			margin-top: 60px;
			margin-right: 30px;
        }
        .action-btn {
            gap: 8px;
            padding: 5px;
            background: var(--primary-color);
            font-size: 12px;
        }
        
      .action-btn i{
         
            font-size: 12px;
        }
        
        .products-section {
            margin-bottom: 30px;
        }
        
         .products-grid {
                grid-template-columns: repeat(2, 1fr);
				gap: 15px;
            }
        
        .product-card:hover {
            transform: translateY(-2px);
        }

        .product-info {
            padding: 10px;
        }
        
        .product-info h4 {
            color: var(--text-color);
            margin-bottom: 6px;
            font-size: 15px;
        }
        
        .product-info p {
            font-size: 13px;
            line-height: 1.5;
        }
        
        .download-section {
            padding: 10px;
            margin-top: 40px;
        }
        
        .download-btn {           
            gap: 10px;
            padding: 6px 12px;
            font-size: 13px         
        }
}
        
        @media (max-width: 380px) {
               .supplier-container {
            padding: 5px;
            margin: 0 auto;
            width: 100%;
			margin-top: 100px;
			
        }
                       
        .supplier-logo {
            width: 65px;
            height: 90px;
            border-radius: 10px;          
        }
		
		.supplier-title h2 {
            font-size: 17px;
            margin-bottom: 10px;        
            padding-right: 10px;
			border-right: 2px solid var(--primary-color);
        }
        
        .supplier-title p {
            font-size: 14px;
			width: 100%;
        }
		 .supplier-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            margin-bottom: 15px;
        }
		 .info-box {           
            padding: 15px;
			width: 100%;

        }
        
        .info-box h3 {
            margin-bottom: 19px;
            font-size: 18px;         
            gap: 10px;
        }

        .info-box p {
            margin-bottom: 8px;
            font-size: 14px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box p strong {
            min-width: 42px;
        }
        
     .info-box2 {           
            padding: 15px;
			width: 100%;

        }
        
        .info-box2 h3 {
            margin-bottom: 19px;
            font-size: 18px;         
            gap: 10px;
        }

        .info-box2 p {
            margin-bottom: 8px;
            font-size: 14px;  
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
        
        .info-box2 p strong {
            min-width: 42px;
        }
          .quick-actions {
                grid-template-columns: repeat(2, 1fr);
				  gap: 15px;
            }
       
        .title2 {
            font-size: 17px;          
			margin-top: 60px;
			margin-right: 5px;
        }
        .action-btn {
            gap: 8px;
            padding: 5px;
            background: var(--primary-color);
            font-size: 14px;
        }
        
      .action-btn i{
         
            font-size: 13px;
        }
        
        .products-section {
            margin-bottom: 30px;
        }
        
         .products-grid {
                grid-template-columns: repeat(2, 1fr);
				gap: 15px;
            }
        
        .product-card:hover {
            transform: translateY(-2px);
        }

        .product-info {
            padding: 10px;
        }
        
        .product-info h4 {
            color: var(--text-color);
            margin-bottom: 6px;
            font-size: 15px;
        }
        
        .product-info p {
            font-size: 13px;
            line-height: 1.5;
        }
        
        .download-section {
            padding: 10px;
            margin-top: 40px;
        }
        
        .download-btn {           
            gap: 10px;
            padding: 6px 12px;
            font-size: 13px         
        }
}